@import "../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss";

ngx-guided-tour {
  .tour-step {
    .tour-block {
      border-radius: 6px;
    }

    .tour-buttons {
      .next-button {
        border-radius: 5px!important;
        padding: 5px;
      }
    }
  }
}

.active-feature {
  z-index: 1083;
}
